<form #f="ngForm" (ngSubmit)="submit(f)" >
<div class="container d-flex justify-content-evenly mt-4">
  <div class="col-md-4">
    <label for="id" class="form-label">Beer</label>
      <select class="form-select form-select-lg" name="id" required  ngModel #beerField="ngModel">
        <option value="{{ beer.id }}" *ngFor="let beer of beerList"> {{ beer.name }} </option>
      </select>
  </div>
  <div class="col-md-4">
    <label for="type" class="form-label">Type</label>
      <select class="form-select form-select-lg" name="type" required ngModel #typeField='ngModel'>
        <option value='small'> Small </option>
        <option value='medium'> Medium </option>
      </select>
  </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary mt-3" [disabled]="f.invalid" type="submit">Search</button>
</div>
</form>


